



:root {
    --c1: #F2F2F2;
    --c2: #BFBFBF;
    --c3: #737373;
    --c4:#404040;
    --c5: #0D0D0D;
    --font-size: 1.3rem;
    --font1: 'Playfair Display', serif;
    --font2: 'Source Sans Pro', sans-serif; 
}

/* .vw{
    height: 90vh;
} */

.gradient{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(234,234,255,1) 50%, rgba(2,0,36,1) 100%);
    height: 3px;
}



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}




body {
    padding: 0;
    margin: 0;
    font-family: var(--font1);
    background-color: var(--c1);
    color: var(--c4);
    font-size: var(--font-size);
  
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--c5);
}

a:hover {
    color: var(--blue);
    text-decoration: none;
}

.section-black{
    background-color: var(--c5);
}


/* intro styles */

#intro {
    padding: 4rem 1rem 10rem 1rem;
    
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--font1);
    font-size: 1rem;
}

.name span {
    font-family: var(--font1);
    font-size: 4rem;
    color: var(--c5);
    display: block;
    font-weight: 300;
}

#intro h2 {
    font-size: 4rem;
}
.section-blue{
    background-color: var(--c3);
}

/* contact section */

#contact {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
    color: var(--c1);
}

#contact p:last-child {
    margin-top: 3rem;

}


/* navigation */

nav {
    font-family: var(--font1);
    font-size: 80%;
    padding: 1rem;
    
}

nav h1 a {
    font-family: var(--font2);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--c1);
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--c1);
}

nav a {
    color: var(--c1);
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--c3);
}

.button {
    background-color: var(--c4);
    color: var(--c1);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    color: var(--c5);
    background-color: var(--c2);
}


/* footer section */

footer {
    text-align: center;
    padding: 3rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}

#projects{
    
    padding: 3rem 1rem;
    
    
}

#projects p{

border: 2px solid var(--c5);
border-radius: 12px;
padding: 1rem;
background-color: var(--c2);
color: var(--c5);
line-height: 1.5;
}
#projects img {
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    border-left: 1px solid var(--c5);
    border-top: 1px solid var(--c5);
    border-radius: 25px;
    max-width: 350px;
    
}

#projects h2{
    margin-top: 1rem;
    color: var(--c4);
}
#projects ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    -ms-flex-align: center;
    justify-content: flex-start;
}
#projects ul li{
    margin: 0 0.5rem 0 0.5rem;
}

@media (min-width: 800px){
    article{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    #projects{
        max-width: 1200px;
        margin: 0 auto;
    }
    #projects img{
        grid-column: 1/6;
        grid-row: 1/2;
        max-width: 30vw;
    }
    .text{
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    }
    #projects ul{
        justify-content: flex-end;
    }
}