


/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */

:root {
    --black: #06080D;
    --blue: #071540;
    --brown:#733816;
    --brown2:#8C322A;
    --pink: #A65B8C;
    --font-size: 1.3rem;
    --font1: 'Playfair Display', serif;
    --font2: 'Source Sans Pro', sans-serif; 
}

.gradient{
    background: linear-gradient(90deg, rgba(7,21,64,1) 0%, rgba(115,56,22,1) 15%, rgba(166,91,140,1) 85%, rgba(7,21,64,1) 100%);
    height: 2px;
}


/* border box model: https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* generic styles for the page */

body {
    padding: 0;
    margin: 0;
    font-family: var(--font1);
    background-color: var(--black);
    color: var(--brown2);
    font-size: var(--font-size);
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--pink);
}

a:hover {
    color: var(--blue);
    text-decoration: none;
}


/* intro styles */

#intro {
    padding: 4rem 1rem 10rem 1rem;
    
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--font1);
    font-size: 1rem;
}

.name span {
    font-family: var(--font1);
    font-size: 4rem;
    color: var(--pink);
    display: block;
    font-weight: 300;
}

#intro h2 {
    font-size: 4rem;
}
.section-blue{
    background-color: var(--blue);
}

/* contact section */

#contact {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
    color: var(--pink);
}

#contact p:last-child {
    margin-top: 3rem;

}


/* navigation */

nav {
    font-family: var(--font1);
    font-size: 80%;
    padding: 1rem;
    
}

nav h1 a {
    font-family: var(--font2);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--pink);
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--blue);
}

nav a {
    color: var(--pink);
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--blue);
}

.button {
    background-color: var(--brown);
    color: var(--blue);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    color: var(--pink);
    background-color: var(--brown2);
}


/* footer section */

footer {
    text-align: center;
    padding: 3rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}